<div class="well">
    <p>
        Duração
        <span class="label label-success">
            <%= @conta.duracao %> minutos
        </span>
    </p>
    
    <p>
        Mesa
        <span class="label label-warning">
            <%= @conta.numeroMesa %>
        </span>
    </p>
    
    <p>
        Total de clientes servidos
        <span class="label label-info">
            <%= @conta.qtdClientes %>
        </span>
    </p>
    
    <table>
        <% @pedidos.each do |pedido| %>
        <div class="well">
            <p>Produto: <%= pedido.try(:get_produto).try(:nome) %></p>
            <p>Preço
                
                <span class="label label-success">
                    <%= number_to_currency pedido.try(:get_produto).try(:preco), unit: "R$" %>
                </span>
            </p>
        </div>
        <% end %>
    </table>
    
    <p>Cadastrado em <%= @conta.criado_em.strftime("%d/%m/%Y") %></p>
    <p>Atualizado em <%= @conta.atualizado_em.strftime("%d/%m/%Y") %></p>
</div>
