<div class="well">
    <p>
        Duração
        <span class="label label-success">
            <%= @conta.duracao %> minutos
        </span>
    </p>
    
    <p>
        Mesa
        <span class="label label-warning">
            <%= @conta.numeroMesa %>
        </span>
    </p>
    
    <p>
        Total de clientes servidos
        <span class="label label-info">
            <%= @conta.qtdClientes %>
        </span>
    </p>
    
    <p>Cadastrado em <%= @conta.criado_em.strftime("%d/%m/%Y") %></p>
    <p>Atualizado em <%= @conta.atualizado_em.strftime("%d/%m/%Y") %></p>
</div>
