<div class="col col-md-6">
    <div class="media">
        <div class="media-left">
            <%= image_tag "item_placeholder.svg", class: "media-object", style: "width: 128px; height: 128px;" %>
        </div>
        <div class="media-body">
            <h4><%= @item.nome %></h4>
            <p><%= @item.limiar %></p>
            
            <%= @item.prazo_validade %>
            
            <p><%= @item.criado_em %></p>
            <p><%= @item.atualizado_em %></p>
        </div>
    </div>
</div>
