<div class="well">
    <div class="media">
        <div class="media-left">
            <%= image_tag "item_placeholder.svg", class: "media-object", style: "width: 128px; height: 128px;" %>
        </div>
        <div class="media-body">
            <h4><%= @item.nome %></h4>
            
            <p>
                <span class="label label-success">
                    <%= @item.limiar %>
                </span>
            </p>
            
            <% if @item.prazo_validade %>
            <p>
                <span class="label label-warning">
                    <%= @item.prazo_validade %>
                </span>
            </p>
            <% end %>
            
            <p>Cadastrado em <%= @item.criado_em.strftime("%d/%m/%Y") %></p>
            <p>Atualizado em <%= @item.atualizado_em.strftime("%d/%m/%Y") %></p>
        </div>
    </div>
</div>
