<%= form_for(produto, url: dashboard_produtos_path, html: { class: "col-md-6" }) do |f| %>
    <h2 class="lead">Adicionar produto</h2>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :descricao %>
    <%= f.text_area :descricao, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :preco %>
    <%= f.text_field :preco, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-success" %>
  </div>
<% end %>
